<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.2.xsd">


    <context:annotation-config/>
    <context:component-scan base-package="com.niulbird.gitg"/>
    <!--Enables AspectJ auto-proxying -->
    <aop:aspectj-autoproxy/>
    
  	<context:property-placeholder location="classpath:global.properties"/>
	<util:properties id="props" location="classpath:global.properties" />

	<!-- Message Source -->
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
      		<list>
        		<value>classpath:gitg-messages</value>
      		</list>
    	</property>
    </bean>
    
    <!-- Tiles support -->
    <bean id="tilesConfigurer"
          class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <value>/WEB-INF/tiles.xml</value>
        </property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
    </bean>

    <!-- Locale support -->
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en"/>
    </bean>

    <!-- Theme Change Interceptor and Resolver definition -->
	<bean id="themeSource"
		class="org.springframework.ui.context.support.ResourceBundleThemeSource">
			<property name="basenamePrefix" value="theme-" />
	</bean>
	<bean id="themeChangeInterceptor" class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
    	<property name="paramName" value="theme" />
	</bean>
	<bean id="themeResolver" class="org.springframework.web.servlet.theme.CookieThemeResolver">
    	<property name="defaultThemeName" value="default" />
	</bean>
     	
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="siteLanguage"/>
        </bean>
        <bean class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
    		<property name="paramName" value="theme" />
		</bean>
    </mvc:interceptors>
    
    <!-- Spring Mail configuration -->
 	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host" value="${mail.smtp.host}" />
    	<property name="port" value="${mail.smtp.port}" />
    	<property name="username" value="${mail.smtp.user}" />
    	<property name="password" value="${mail.smtp.pass}" />
    	<property name="javaMailProperties">
        	<props>
            	<!-- Use SMTP-AUTH to authenticate to SMTP server -->
            	<prop key="mail.smtp.auth">true</prop>
            	<!-- Use TLS to encrypt communication with SMTP server -->
            	<prop key="mail.smtp.starttls.enable">true</prop>
        	</props>
    	</property>
	</bean>
	
	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="to">
        	<value><![CDATA[${email.toName} <${email.toEmail}>]]></value>
    	</property>
		<property name="from">
        	<value><![CDATA[${email.fromName} <${email.fromEmail}>]]></value>
    	</property>
        <property name="subject" value="${email.subject}"/>
    </bean>
    
    <!-- Wordpress Service -->
    <bean id="wordPressDao" class="com.niulbird.gitg.wordpress.DefaultWordPressDao">
    	<property name="baseUrl" value="${wordpress.site.baseUrl}"/>
    	<property name="siteName" value="${wordpress.site.name}"/>
    </bean>
    
    <!-- Cache -->
    <cache:annotation-driven />
    <bean id="cacheManager"
      class="org.springframework.cache.ehcache.EhCacheCacheManager" 
      p:cache-manager-ref="ehcache"/>

	<!-- EhCache library setup -->
	<bean id="ehcache"
      class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" 
      p:config-location="classpath:ehcache.xml"/>

</beans>