body {
  font: normal 85% Arial, Helvetica, sans-serif;
  background: #676767 url(../images/background_soil.jpg) repeat;
  color: #000;
}

.theme_gradient, #menubar {
  background: #233a1b;
  background: -moz-linear-gradient(#496440, #233a1b);
  background: -o-linear-gradient(#496440, #233a1b);
  background: -webkit-linear-gradient(#496440, #233a1b);
}

.theme_gradient_reverse, .menu_selected, ul#menu li.current a, ul#menu li:hover a {
  background: #496440;
  background: -moz-linear-gradient(#233a1b, #496440);
  background: -o-linear-gradient(#233a1b, #496440);
  background: -webkit-linear-gradient(#233a1b, #496440);
}

#menubar {
  width: 960px;
  height: 50px;
  margin-top: 50px;
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.menu_selected, ul#menu li.current a, ul#menu li:hover a {
  color: #FFF;
  text-shadow: none;
}
