body {
  font: normal 85% Arial, Helvetica, sans-serif;
  background: #676767 url(../images/background_grass.jpg) repeat;
  color: #000;
}

.theme_gradient, #menubar {
  background: #284020;
  background: -moz-linear-gradient(#437133, #284020);
  background: -o-linear-gradient(#437133, #284020);
  background: -webkit-linear-gradient(#437133, #284020);
}

#content_green {
  width: 960px;
  height: 110px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

#menubar {
  width: 960px;
  height: 50px;
  margin-top: 50px;
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.menu_selected, ul#menu li.current a, ul#menu li:hover a {
  color: #FFF;
  background: #437133;
  background: -moz-linear-gradient(#284020, #437133);
  background: -o-linear-gradient(#284020, #437133);
  background: -webkit-linear-gradient(#284020, #437133);
  text-shadow: none;
}

.sidebar h2 {
  padding: 5px 0 0 10px;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px black;
  color: #fff;
}

.button_small {
  font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 90px;
  padding: 5px 5px 10px 7px;
}
