$hi-gradient-color: #496440;
$lo-gradient-color: #233A1B;

body { 
  font: normal 85% Arial, Helvetica, sans-serif;
  background: #676767 url(../images/background_soil.jpg) repeat;
  color: #000;
}

.theme_gradient {
  background: $lo-gradient-color;
  background: -moz-linear-gradient($hi-gradient-color, $lo-gradient-color);
  background: -o-linear-gradient($hi-gradient-color, $lo-gradient-color);
  background: -webkit-linear-gradient($hi-gradient-color, $lo-gradient-color);
}

.theme_gradient_reverse {  
  background: $hi-gradient-color;
  background: -moz-linear-gradient($lo-gradient-color, $hi-gradient-color);
  background: -o-linear-gradient($lo-gradient-color, $hi-gradient-color);
  background: -webkit-linear-gradient($lo-gradient-color, $hi-gradient-color);
}

#menubar {
	@extend .theme_gradient;
	width: 960px;
	height: 50px;
	margin-top: 50px;
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border: 15px 15px 0px 0px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.menu_selected {
	@extend .theme_gradient_reverse;
	color: #FFF;
  	text-shadow: none;
}

ul#menu li.current a { 
	@extend .menu_selected;
}
  
ul#menu li:hover a { 
	@extend .menu_selected;
}